In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\dougcohen\anaconda3\lib\site-packages (2.8.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sys
import psycopg2
from psycopg2.extras import execute_values
# from dotenv import load_dotenv
import os
import json
from sqlalchemy import create_engine

In [5]:
SPOTIFY_DB_NAME = "phmcuozt"
SPOTIFY_DB_PW = "Gq5822Z4v3ypBvLtnCsF4XjabVM3LKr9"
SPOTIFY_DB_HOST = "drona.db.elephantsql.com"
SPOTIFY_DB_USER = "phmcuozt"

In [6]:
conn = psycopg2.connect(dbname=SPOTIFY_DB_NAME, user=SPOTIFY_DB_USER,
                        password=SPOTIFY_DB_PW, host=SPOTIFY_DB_HOST)
cur = conn.cursor()

In [8]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Build-Week-Spotify-Song-Recommender/data-science/master/kaggle_data/SpotifyAudioFeaturesApril2019.csv")

In [9]:
df.tail()

,artist_name,track_id,track_name,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,popularity
130658,Calum Scott,0cvfSKcm9VeduwyYPrxtLx,Come Back Home,0.00678,0.601,190539,0.801,0.0,11,0.0991,-5.174,1,0.0323,131.049,4,0.2890,57
130659,Saint Claire,43MP9F7UzvfilSrw2SqZGJ,Enough for You,0.91800,0.387,194583,0.249,0.0,9,0.1030,-13.233,1,0.0437,94.039,4,0.3460,60
130660,Mike Stud,4TWlUuFk81NGUNKwndyS5Q,Do It,0.33000,0.717,139191,0.532,0.0,8,0.0997,-8.351,0,0.2060,156.977,4,0.5460,47
130661,D Savage,5iGBXzOoRo4sBTy8wdzMyK,No Smoke,0.00790,0.772,180013,0.510,0.0,4,0.1310,-9.670,0,0.1200,120.049,4,0.0755,50
130662,Banda Los Sebastianes,7LNtyuekYHiZ99UxkrfCQR,En Vida,0.54900,0.715,145827,0.734,0.0,3,0.1080,-3.244,1,0.0367,130.128,3,0.9760,55

In [10]:
df_columns = df.columns

In [13]:
# Create engine to use for df.to_sql
engine = create_engine('postgres://phmcuozt:Gq5822Z4v3ypBvLtnCsF4XjabVM3LKr9@drona.db.elephantsql.com:5432/phmcuozt')

In [15]:
# Use df.to_sql to insert the data into a new table 'april_spotify' in the PostgrSQL 
#. database
df.to_sql('april_spotify', engine)

conn.commit()

ValueError: Table 'april_spotify' already exists.